extends ../layout

block content
  .max-w-5xl.mx-auto.mt-10.bg-white.p-6.rounded-2xl.shadow-lg
    h1.text-3xl.font-bold.text-blue-900.mb-6 Lista de Pacientes

    table.table-auto.w-full.border.border-gray-200.rounded-lg.shadow-sm
      thead.bg-blue-100
        tr
          th.text-left.p-3.text-sm.text-gray-700 Nombre
          th.text-left.p-3.text-sm.text-gray-700 Teléfono
          th.text-left.p-3.text-sm.text-gray-700 Dirección
          th.text-left.p-3.text-sm.text-gray-700 Sexo
          th.text-left.p-3.text-sm.text-gray-700 Obra Social
          th.text-left.p-3.text-sm.text-gray-700 Acciones

      tbody
        each paciente in pacientes
          tr.border-b.border-gray-100.hover:bg-blue-50
            td.p-3 #{paciente.nombre}
            td.p-3 #{paciente.telefono}
            td.p-3 #{paciente.direccion}
            td.p-3 #{paciente.sexo}
            td.p-3 #{paciente.obra_social}
            td.p-3
              a(href=`/pacientes/${paciente.id}/editar` class="text-blue-600 hover:underline text-sm") Editar
